HomeAutomation/.vs/HomeAutomation/v14/_suo.doc
HomeAutomation/bin/*
HomeAutomation/HomeAutomation/node_modules/*
HomeAutomation/HomeAutomation/bin/*
HomeAutomation/HomeAutomation/obj/*
HomeAutomation/RasberryPi/node_modules/*
HomeAutomation/RasberryPi/bin/*
HomeAutomation/RasberryPi/obj/*
HomeAutomation/HomeAutomation/Scripts/typings/*
HomeAutomation/RasberryPi/typings/*


*.pfx
*.map
*.dat
HomeAutomation/HomeAutomation/routes/index.js
HomeAutomation/HomeAutomation/server/TemperatureDevice.js
HomeAutomation/HomeAutomation/routes/user.js
HomeAutomation/HomeAutomation/routes/user.js.map.txt
HomeAutomation/HomeAutomation/server.js
HomeAutomation/HomeAutomation/client/components/app.js
HomeAutomation/HomeAutomation/client/components/Dashboard.js
HomeAutomation/HomeAutomation/client/components/TemperatureControl.js
HomeAutomation/HomeAutomation/client/components/TemperatureControlDetails.js
HomeAutomation/HomeAutomation/client/modules/app.module.js
HomeAutomation/HomeAutomation/client/routes/app.routing.js
HomeAutomation/HomeAutomation/client/services/TemperatureService.js
HomeAutomation/HomeAutomation/common/interfaces/RestApiInterfaces.js
