<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            Температура 
        </h1>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="panel panel-primary text-center no-boder bg-color-brown">                
                <div class="panel-body">
                    <h3>{{temperatureData.boiler.valve}}</h3>
                    <input type="range" min="0" max="100" [(ngModel)]="temperatureData.boiler.valve" (mouseup)="onInputBoilerValveMouseUp()" />
                    
                </div>
                <div class="panel-footer back-footer-brown">Управление задвижкой котла</div>
            </div>
        </div>       

    </div>
</div>