<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            Dashboard <small>Summary of your App</small>
        </h1>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12">
            <temperature-control></temperature-control>
        </div>

        <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="panel panel-primary text-center no-boder bg-color-blue">
                <div class="panel-body">
                    <i class="fa fa-ship fa-5x"></i>
                    <div>
                        Основной бак: 500Л
                    </div>
                    <div>
                        Грязный бак: 300Л
                    </div>

                </div>
                <div class="panel-footer back-footer-blue">Вода</div>
            </div>
        </div>

        <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="panel panel-primary text-center no-boder bg-color-green">
                <div class="panel-body">
                    <i class="fa fa-laptop fa-5x"></i>
                    <div>
                        Объем логов: 100MB
                    </div>
                </div>
                <div class="panel-footer back-footer-green">Администрирование</div>
            </div>
        </div>

        </div>
</div>
    

